p {
    color: #d40f0f;
}

*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #c02727;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
}

.header_logo{
    margin-top: 16px ;
    margin-bottom: 16px ;
    /* margin-left: 10%; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header_logo img {
    width: 60px;
    height: 60px;
    margin: auto 20px;
}

.P{
    font-size: 70px;
    color: orange;
}

.header_search-bar{
    margin: 16px;
    width: 500px;
    /* margin-right: 10%; */
    display: flex;
    flex-direction: row;
    
}

.header_search-bar_icon{
    
        width: 35px;
        min-width: 0;
        min-height: 35px;
        max-height: 35px;
        align-items: center;
        padding: 5px;
        margin: 10px 0;
        border-radius: 4px;
}

.header_search-bar input{
    width: 100%;
    height: 50px;
    padding: 0 30px 0 30px;
    border-radius: 12px;
    box-shadow: 0px 3px 5px rgb(0, 0, 0),
                0px -1px 5px rgb(0, 0, 0);
    border: none;
}

.header_search-bar input::placeholder {
    font-size: 24px;
    padding: 5px;
}


.main{
    width: 100%;
    /* background-color: #1ae969; */
    height: 1000px;
}

.left-side{
    width: 40%;
    height: 1000px;
}

.left-side_picture{
    /* background-color: #062bd3; */
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    /* max-width: 50%; */
}

.left-side_picture img{
    width: 100%;
    max-height: 100%;
    /* overflow: scroll; */
    object-fit: cover;      
    object-position: center;
    
}

.left-side_reviews{
    background-color: #e91abc;
    height: 50%;
}

.right-side{
    width: 40%;
    height: 1000px;
}

.right-side_description{
    background-color: #e91a1a;
}

.right-side_stream-website{
    background-color: #c3e91a;
}

.right-side_stream-website_first{

}

.right-side_stream-website_second{

}

